$max-width: 1024px;
$tablet-width: 768px;
$small-tablet-width: 500px;

$main-color: white;
$accent-color: #cda267;

$main-background: #181818;

$main-separator: rgba(227, 184, 115, 0.49);

$title-font: Original, sans-serif;

$regular-time: .6s;
