*  {
  box-sizing: border-box;
  overflow: hidden;
}

body {
  background: $main-background;
}

.page {
  margin: 0 auto;

  @media only screen and (min-width: $max-width) {
    max-width: $max-width;
  }
}